extends layout

block content
  .inner
    h2 Edit Your Account
    if errors
      ul.errors
        each err in errors
          li.error(data-testid="account.edit-form.error-message")= err
    form.form(action="/account", method="POST")
      label(for="account-name") Name
      input#account-name(
        type="text",
        name="name",
        value=user.name,
        data-testid="account.edit-form.name-input"
      )
      label(for="account-email") Email Address
      input#account-email(
        type="email",
        name="email",
        value=user.email,
        data-testid="account.edit-form.email-input"
      )
      input.button(
        type="submit",
        value="Update My Account",
        data-testid="account.edit-form.submit-btn"
      )
