doctype html
html(lang="en")
  head
    title= `${title} | ${h.siteName}`
    block meta
    link(rel="stylesheet", href="/dist/style.css")
    link(rel="shortcut icon", type="image/png", href="/images/icons/doughnut.png")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    block header
      header
        video#bgvid(autoplay="", muted="", loop="")
          source(src="/video/background.mp4", type="video/mp4")
        img.nav__background-img(src="/images/Lava.jpg", alt="A blurry closeup of a lava lamp")
        nav.nav
          .nav__section.nav__section--pages
            li.nav__item.nav__item--home
              a.nav__link.nav__link--logo(href="/", data-testid="nav.header.home-link")
                h1 Loomernescent
            each item in h.menu
              li.nav__item
                a.nav__link(
                  href=item.slug,
                  class=currentPath.startsWith(item.slug) ? "nav__link--active" : "",
                  data-testid=item.testid
                )
                  != h.icon(item.icon)
                  span #{ item.title }
          .nav__section.nav__section--search
            .search
              input.search__input(type="text", placeholder="Bands, Albums...", name="search")
              .search__results
          .nav__section.nav__section--user
            if user
              if user.admin
                li.nav__item: a.nav__link(
                  href="/add",
                  class=currentPath.startsWith("/add") ? "nav__link--active" : ""
                )
                  != h.icon("add")
              li.nav__item: a.nav__link(
                href="/favourites",
                class=currentPath.startsWith("/hearts") ? "nav__link--active" : "",
                data-testid="nav.header.favourites-link"
              )
                != h.icon("heart")
                span.heart-count #{ user.loves && user.loves.length }
              li.nav__item
                form.nav__logout-form(action="/auth/logout", method="POST")
                  button.nav__link(type="submit", data-testid="nav.header.logout-btn")
                    != h.icon("logout")
                    span Logout
              li.nav__item: a.nav__link(
                href="/account",
                class=currentPath.startsWith("/account") ? "nav__link--active" : "",
                data-testid="nav.header.account-link"
              )
                img.avatar(src=user.gravatar + "d=retro")
            else
              li.nav__item.nav__item--user: a.nav__link(
                href="/auth/register",
                class=currentPath.startsWith("/register") ? "nav__link--active" : "",
                data-testid="nav.header.register-link"
              ) Sign Up
              li.nav__item.nav__item--user: a.nav__link(
                href="/auth/login",
                class=currentPath.startsWith("/login") ? "nav__link--active" : "",
                data-testid="nav.header.login-link"
              ) Log In
    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes);
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    .content
      block content

    script(src="/dist/app.js", defer)
    block scripts
