mixin albumCard(album = {})
  .album
    .album__hero
      a(href=`/album/${album.slug}`)
        img.album__cover(
          src=album.imagePath ? imageUrl(album.imagePath, { w: 400, h: 400, fo: "auto" }) : imageUrl("/bands/band.jpg"),
          alt=`cover artwork for ${album.title} by ${album.artist}`
        )
      .album__actions
        if user
          .album__action.album__action--heart
            form.heart(method="POST", action=`/api/v1/albums/${album.id}/loves`)
              - const heartStrings = user.favourites ? user.favourites.map((obj) => obj.albumId) : [];
              - const heartClass = heartStrings.includes(album.id) ? "heart__button--hearted" : "";
              button.heart__button(type="submit", name="heart", class=heartClass)
                != h.icon("heart")
        if user && user.admin
          .album__action.album__action--edit
            a(href=`/albums/${album.id}/edit`, data-testid="albums.list.edit-link")
              != h.icon("pencil")
